<div class="container">

  <div class="row">
    <h2> Home View </h2>
    <span class="hobbit-list fa fa-user"> Frodo </span>
  </div>

  <div class="row">
    <h2> Thumbnail View </h2>
    <img ng-src="https://upload.wikimedia.org/wikipedia/en/4/4e/Elijah_Wood_as_Frodo_Baggins.png" height="100" width="100"/>
  </div>

  <div class="row">
    <h2> Fullsize View </h2>
    <h1> Frodo </h1>
    <img ng-src="https://upload.wikimedia.org/wikipedia/en/4/4e/Elijah_Wood_as_Frodo_Baggins.png" height="400" width="400"/>
  </div>

</div>
