<div class="row">
  <a ng-repeat="image in thumbnailCtrl.imageGalleries[0].images" href="#/fullsize/hobbits/{{ image.id }}">
    <img src="{{ image.url }}" height="100px" width="100px"/>
  </a>
</div>

<div class="row">
  <a ng-repeat="image in thumbnailCtrl.imageGalleries[1].images" href="#/fullsize/hobbits/{{ image.id }}">
    <img src="{{ image.url }}" height="100px" width="100px"/>
  </a>
</div>

<div class="row">
  <a ng-repeat="image in thumbnailCtrl.imageGalleries[2].images" href="#/fullsize/hobbits/{{ image.id }}">
    <img src="{{ image.url }}" height="100px" width="100px"/>
  </a>
</div>
