<div class="container">
  <div class="row">
    <button ng-click="showHobbits=true; showDwarves=false; showHumans=false" class="button btn-default" type="button" name="Hobbits"> Hobbits </button>
    <button ng-click="showDwarves=true; showHobbits=false; showHumans=false" class="button btn-default" type="button" name="Dwarves"> Dwarves </button>
    <button ng-click="showDwarves=false; showHobbits=false; showHumans=true" class="button btn-default" type="button" name="Humans"> Humans </button>
    <button ng-click="showDwarves=true; showHobbits=true; showHumans=true" class="button btn-default" type="button" name="showAll"> Show All </button>

  </div>

  <div class="row" ng-show="showHobbits">
    <a ng-repeat="hobbitImage in galleriesCtrl.hobbitImages" href="#/fullsize/{{ hobbitImage.id }}">
      <img ng-src="{{ hobbitImage.url }}" height="100" width="100"/>
    </a>
  </div>

  <div class="row" ng-show="showDwarves">
    <a ng-repeat="dwarfImage in galleriesCtrl.dwarfImages" href="#/fullsize/{{ dwarfImage.id }}">
      <img ng-src="{{ dwarfImage.url }}" height="100" width="100"/>
    </a>
  </div>

  <div class="row" ng-show="showHumans">
    <a ng-repeat="humanImage in galleriesCtrl.humanImages" href="#/fullsize/{{ humanImage.id }}">
      <img ng-src="{{ humanImage.url }}" height="100" width="100"/>
    </a>
  </div>

</div>
