<div class="container">
  <div class="row">
    <button ng-click="showHobbits=true; showDwarves=false; showHumans=false" class="button btn-default" type="button" name="Hobbits"> Hobbits </button>
    <button ng-click="showDwarves=true; showHobbits=false; showHumans=false" class="button btn-default" type="button" name="Dwarves"> Dwarves </button>
    <button ng-click="showDwarves=false; showHobbits=false; showHumans=true" class="button btn-default" type="button" name="Humans"> Humans </button>
    <button ng-click="showDwarves=true; showHobbits=true; showHumans=true" class="button btn-default" type="button" name="showAll"> Show All </button>

  </div>

  <div data-jg-thumbnail-directive></div>

</div>
